#container{
    width: 400px;
    background-color: aliceblue;
    padding: 20px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list{
    margin:  5px;
}

.list > li{
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.listDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.listDiv > p{
    margin: 7px;
}